* {
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.fa-shopping-cart, 
.naw-links, 
.logo-wrapper {
    display: flex;
}
i {
    font-size: 40px;
    color: blue;
}
.logo-wrapper {
    flex: 1;
}
nav {
    flex: 2;
}

.fa-shopping-cart {
    flex: 1;
    justify-content: flex-end;
}
.naw-links {
    justify-content: space-around;
    list-style: none;
}
.naw-link {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.logo {
    margin: 13px;
    font-size: 20px;
}
/*BODY SIDE*/
.contents {
    width: 90%;
    margin: auto;
}
img {
    width: 300px;
}
.introduction {
    display: flex;
    align-items: center;
}
.introduction h1 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.introduction p {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}
.intro-text {
    flex: 1;
}
.intro-img {
    flex: 1;
}
.intro-btn {
    border: 1px blue solid;
    color: #fff;
    background-color: blue;
    border-radius: 20px;
    width: 110px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    margin: 20px 0px 0px 60px;
}